<!DOCTYPE HTML>
<html lang="pt_BR" xmlns:th="http://www.thymeleaf.org">
<head th:insert="base/head.html :: head"></head>
<body id="page-study">

<div id="container">
    <header class="page-header">
        <div class="top-bar-container">
            <a href="/">
                <img th:src="@{/images/icons/back.svg}" alt="voltar"></a>
            <img th:src="@{/images/logo.svg}" alt="logo">
        </div>
        <div class="header-content">
            <strong>Alunos Cadastrados</strong>
            <a th:href="@{alunos/novoAluno}">Novo Aluno</a>
        </div>
    </header>

    <main>
        <strong th:text="${warning}"></strong>
        <div th:each="a: ${alunos}">
            <article class="teacher-item">
                <header>
                    <div>
                        <strong th:text="${a.nome}"></strong>
                    </div>
                </header>
                <div class="informacoes">
                    <p>Informações:<br>
                        Email: <span th:text="${a.email}"></span><br>
                        CPF: <span th:text="${a.cpf}"></span><br>
                    </p>
                    <form id="turmasMatriculadas" th:action="@{/alunos/turmas}" th:object="${dto}">
                        <input type="text" th:value="${a.id}" id="id" name="id" hidden>
                        <button type="submit">Ver turmas</button>
                    </form>

                </div>
                <footer>
                    <form id="matricular" th:action="@{/turmas/matricula}" th:object="${dto}">
                        <input type="text" th:value="${a.id}" id="id" name="id" hidden>
                        <button type="submit">Matricular-se</button>
                    </form>
                    <form id="delete" th:action="@{/alunos/deletar}" th:object="${dto}" method="post">
                        <input type="number" th:value="${a.id}" id="id" name="id" hidden>
                        <button type="submit">Apagar Cadastro</button>
                    </form>
                </footer>
            </article>
        </div>
    </main>
</div>

</body>
</html>