<!DOCTYPE HTML>
<html lang="pt_BR" xmlns:th="http://www.thymeleaf.org">
<head th:insert="base/head.html :: head"></head>

<body id="page-give-classes">

<div id="container">
    <header class="page-header">
        <div class="top-bar-container">
            <a href="/alunos">
                <img th:src="@{/images/icons/back.svg}" alt="voltar"></a>
            <img th:src="@{/images/logo.svg}" alt="logo">
        </div>
        <div class="header-content">
            <strong>Que incrivel que você quer participar das nossas turmas!</strong>
            <p>O primeiro passo, é prencher o formulario de inscrição</p>
        </div>
    </header>
    <main>
        <form action="#" th:action="@{/alunos}" th:object="${aluno}" method="post" id="create-class">
            <fieldset>
                <legend>Seus Dados </legend>
                <div class="input-block">
                    <label for="name">Nome completo</label>
                    <input th:field="*{nome}" id="name" required>
                </div>
                <div class="input-block">
                    <label for="cpf">CPF</label>
                    <input th:field="*{cpf}" id="cpf" required>
                </div>
                <div class="input-block">
                    <label for="email">Email</label>
                    <input th:field="*{email}" id="email" required>
                </div>
            </fieldset>
        </form>
        <footer>
            <p>
                <img src="../images/icons/warning.svg" alt="Aviso importante">
                Importante! <br> Preencha todos os dados
            </p>
            <button type="submit" form="create-class">Salvar cadastro</button>
        </footer>
    </main>
</div>

</body>
</html>