<!DOCTYPE HTML>
<html lang="pt_BR" xmlns:th="http://www.thymeleaf.org">
<head th:insert="base/head.html :: head"></head>
<body id="page-study">

<div id="container">
    <header class="page-header">
        <div class="top-bar-container">
            <a href="/alunos">
                <img th:src="@{/images/icons/back.svg}" alt="voltar"></a>
            <img th:src="@{/images/logo.svg}" alt="logo">
        </div>
        <div class="header-content">
            <strong> <span th:text="${aluno.nome}"></span>, essas são suas turmas!</strong>
        </div>

    </header>
    <main>
        <strong th:text="${warning}"></strong>
        <div th:each="t: ${turmas}">
            <article class="teacher-item">
                <header>
                    <div>
                        <strong th:text="${t.nome}"></strong>
                    </div>
                </header>
                <div class="informacoes">
                    <p>Informações:<br><span th:text="${t.descricao}"></span></p>
                </div>
                <footer>
                    <form id="delete" th:action="@{/alunos/cancelar}" th:object="${dto}" method="post">
                        <input type="number" th:value="${t.id}" id="turmaId" name="turmaId" hidden>
                        <input type="number" th:value="${aluno.id}" id="alunoId" name="alunoId" hidden>
                        <button type="submit">Cancelar matricula</button>
                    </form>
                </footer>
            </article>
        </div>
    </main>
</div>

</body>
</html>