<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#8257E5">
    <title>Proffy | Sua plataforma de estudos online</title>
    <link rel="shortcut icon" th:href="@{/images/favicon.png}" type="image/png">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/partials/header.css}">
    <link rel="stylesheet" th:href="@{/css/partials/forms.css}">
    <link rel="stylesheet" th:href="@{/css/partials/page-listagem.css}">
    <link rel="stylesheet" th:href="@{/css/partials/page-cadastro.css}">
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">
</head>